@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu+Mono&display=swap');

/* CONTENTS */

/* Declarations */
$main-color: #caf7e3;
$second-color: #F7CADE;
$color-snow: #f4f4f4;
$color-coal: #333333;
$color-nickel: #666666;

$brand-font: 'Ubuntu Mono', monospace;
$body-font: 'Source Sans Pro', sans-serif;

body { 
    padding-top: 50px; 
    font-family: $body-font;
    overflow-x: hidden;
}

h1 {
    letter-spacing: 5px;
}

h1::after {
    border-bottom: solid 4px $second-color !important;
    content: "";
    display: block;
    width: 25%;
    margin: auto;
    padding-top: 5px;
}

/* 1. Navbar */
.navbar {
    background-color:#fff !important;

    .navbar-brand {
        color: $color-coal;
        font-family: $brand-font;
    }
}

.navbar-toggler {
    border: none;
}

.navbar-nav {
    li {
        a:link {
            color: $color-nickel;
        }

        a:hover {
            color: $color-coal;
        }

        a:active {
            color: $color-coal;
        }
    }
}

/* 2. Hero */
.hero {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    height: 100vh;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1513694203232-719a280e022f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1049&q=80');
    background-position: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .box-1 {
        background-color: $main-color;
        width: 40vh;
        height: 40vh;
        margin-top: 20vw;
        margin-left: 25vw;
    }

    .headers {
        color: $color-nickel;
        padding: 4vh;
        box-shadow: -10px -10px 3px lighten($main-color, 80%);

        .fs-2 {
            font-size: 4vh !important;
            letter-spacing: 3px;
        }

        .fs-1 {
            font-size: 6vh !important;
            letter-spacing: 10px;
        }
    }
}

/* 3. Intro to Services  */
#services-intro {
    .container {
        background-color: $main-color;
    }

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        }

    .btn-primary {
        background: linear-gradient(to right, $second-color 50%, $main-color 50%);
        border: none;
        color: $color-coal;
        transition: all 0.5s ease-out;
        background-position: right bottom;
        background-size: 200% 100%;
    }

    .btn-primary:hover {
        background-position: left bottom;
    }

    h4 {
        color:$color-coal;
        text-transform: uppercase;
        background-color: $second-color;
    }

    p {
        line-height: 3.5vh;
        letter-spacing: 0.2vh;
        font-size: 2vh;
    }
}

/** 4. Testimonials **/
#testimonials {
    background-color: $main-color;
}

.testimonials-container {
    width: 40vw;
    height: 20vh;
}