@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Montserrat:wght@300&display=swap');

/* CONTENTS */

/* Declarations */
$main-color: #A7BBC7;
$main-dark-color: #1F2A31;
$main-light-color: #DEE5EA;
$secondary-color: #c7a7bb;
$complement-color: #BBC7A7;

$color-snow: #F4F4F4;
$color-coal: #333333;
$color-nickel: #666666;

$color-success: #2ECC71;
$color-failure: #E74C3C;
$color-warning: #F1C40F;

$accent-font: 'Cormorant Garamond', serif;
$body-font: 'Montserrat', sans-serif;

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url(../font/MaterialIcons-Regular.ttf) format('ttf'),
 }
 
 .material-icons {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 24px;  /* Preferred icon size */
   display: inline-block;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
 
   /* Support for all WebKit browsers. */
   -webkit-font-smoothing: antialiased;
   /* Support for Safari and Chrome. */
   text-rendering: optimizeLegibility;
 
   /* Support for Firefox. */
   -moz-osx-font-smoothing: grayscale;
 
   /* Support for IE. */
   font-feature-settings: 'liga';
 }

 body {
     font-family: $body-font;
     overflow-x: hidden;
 }

/** 1. Navbar **/
.navbar {
    background-color: #ffffff;
    background: transparent;
    z-index: 10;

    .navbar-brand {
        font-family: $accent-font;
        padding: 0px 20px;
        font-size: 4vh;
    }

    .nav-item {
        padding: 0 20px;
    }

    a:hover {
        color: $main-color !important;
    }

    @media (min-width: 1441px) {
        .navbar-nav{
            font-size: 1.5vw;
            padding: 15px;
        }   
    }

    @media (max-width: 768px) {
        .navbar-collapse {
            background-color: #ffffff !important;
        }
    }
}

/** 2. Hero **/
#hero {   
    .hero-img {
        margin-top: -50px;
        height: auto;
        max-height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;
        object-fit: cover;
    }

    h1 {
        font-family: $accent-font;
        font-size: 12vh;
    }

    @media (max-width: 425px) {
        .hero-img {
            margin-top: 0;
        }
    }

    @media (min-width: 1441px) {
        .hero-img {
            margin-top: 100px;
            background-color: $complement-color;
        }
    }
}

/** 3. Introduction **/
#introduction, #intro-styles {
    h3 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 5vh;
    }

    p {
        font-size: 2.5vh;
        line-height: 5vh;
    }

    .btn-outline-primary {
        border-color: $main-color;
        color: $main-dark-color;
        font-size: 2.5vh;
        border-radius: 50px;
        width: 50%;
        transition: background-color 1s;

        &:hover {
            background-color: $main-light-color;
        }
    }
}

#intro-styles {
    background-color: $main-color;
    min-height: 100vh;

    #intro-container {
        background-color: #ffffff;
        min-height: 50vh;
    }

    .card {
        margin-top: -70px;
        color: #fff;
        position: relative;
        overflow: hidden;
        text-align: left;
        border: 0;

        &:hover {
            img {
                opacity: 0.7;
            }

            h2 {
                transform: translateY(-40%);
            }

            .btn {
                opacity: 1;
            }
        }

        img {
            opacity: 1;
            transition: opacity 1s ease-out;
        }

        h2, .btn {
            margin: 0;
            padding: 0;
        }

        h2 {
            font-size: 5vh;
            padding-bottom: 5px;
            text-shadow: 3px 2px 8px $main-dark-color;
            transition: transform 1s ease-out;
        }

        .btn {
            padding: 10px 10px;
            border: 2px solid $main-light-color;
            text-decoration: none;
            color: $main-dark-color;
            background-color: $main-light-color;
            letter-spacing: 2px;
            font-size: 3vh;
            opacity: 0;
            transition: opacity 1s ease-out;
        }

        .card-body {
            position: absolute;
            top: 0;
            margin-top: 27%;
        }

        @media (max-width: 320px) {
            .card-body {
                margin-top: 10%;
            }
        }

        @media (min-width: 1439px) {
            .card-body {
                margin-top: 30%;
            }
        }
    }
}