@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu+Mono&display=swap');

/* CONTENTS */

/* Declarations */
$main-color: #caf7e3;
$second-color: #F7CADE;
$color-snow: #f4f4f4;
$color-coal: #333333;
$color-nickel: #666666;

$brand-font: 'Ubuntu Mono', monospace;
$body-font: 'Source Sans Pro', sans-serif;

body { 
    padding-top: 70px; 
    font-family: $body-font;
}

/* 1. Navbar */
.navbar {
    background-color:$main-color !important;

    .navbar-brand {
        color: $color-coal;
        font-family: $brand-font;
    }
}

.navbar-toggler {
    border: none;
}

.navbar-nav {
    li {
        a:link {
            color: $color-nickel;
        }

        a:hover {
            color: $color-coal;
        }

        a:active {
            color: $color-coal;
        }
    }
}

/* 2. Hero */
.hero {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    height: 100vh;
    width: 100%;
    background: url('../assets/nathan-fertig-FBXuXp57eM0-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clip-path: circle(180vh at 50% -80vh);

    .overlay {
        background-color: #f9fafb7a;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .headers {
        padding-top: 10vh;
        z-index: 10;
        color: $color-coal;
        text-shadow: 2px 2px #fff;

        .fs-2 {
            font-size: 7vh !important;
        }

        .fs-1 {
            font-size: 15vh !important;
            letter-spacing: 5px;
        }
    }
}

/* 3. Intro to Services  */
#services-intro {
    h1::after {
        border-bottom: solid 4px $second-color !important;
        content: "";
        display: block;
        width: 50%;
        margin: auto;
        padding-top: 5px;
    }

    .card {
        border: none;
    }

    .card-img-top {
        width: 100%;
        height: 40vh;
        object-fit: contain;
        }
}